# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science

Some of the popular languages that Data Scientists use are:

1.Pyhon 
2.R
3.SQL

Some of the commonly used libraries used by Data Scientists include:

1.Scikit-learn
2.Pandas
3.TensorFlow

| Data Science Tools |
|:--------:|
|  Python  |
|Apache Spark|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author: Farda Ahmadli